/* Configurações Gerais da Página */

* {
    display: flexbox;
}

body {
    background-color: #F3F3F3;
    width: 100vw;
}

/* --- Para Mobiles --- */

@media screen and (max-width: 375px) {

    /* Header */

    header {
        /* Quanto a posição */
        position: fixed;
        /* Quanto ao tamanho*/
        width: 100%;
        height: 80px;
        z-index: 1;
    }

    .topo {
        /* Quanto a posição */
        position: absolute;
        /* Quanto ao tamanho */
        width: 100%;
        height: 100%;
        /* Quanto ao display*/
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* Quanto ao estilo */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
        background-color: #FFFFFF;
        z-index: 1;
    }

    /* main */

    main {}

    .container-mensagem {
        position: absolute;
        top: 106px;
        width: 100%;
        height: 500px;
        overflow-y: scroll;
        overflow-x: hidden;
        word-wrap: break-word;
        }

    /* Footer */

    footer {
        /* Quanto a posição */
        position: fixed;
        left: auto;
        bottom: 0;
        /* Quanto ao tamanho */
        width: 100%;
        height: 80px;
    }

    .baixo {
        /* Quanto ao tamanho */
        width: 100%;
        height: 100%;
        /* Quanto ao display*/
        display: flex;
        align-items: center;
        justify-content: center;
        /* Quanto ao estilo*/
        background-color: #FFFFFF;

        margin-top: 15px;
    }
}

/* --- Tratamento de Imagens e textos --- */

.topo img {
    margin-left: 21px;
    width: 75px;
    height: 53px;
}

.icone-topo {
    margin-right: 21px;
    font-size: 45px;
}

.icone-baixo {
    font-size: 26px;
}

input {
    border: 0;
    width: 80%;
    height: 90%;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

::placeholder {
    font-family: Roboto;
    color: #000000;
    /* Corrige a opacidade no navegador Firefox*/
    opacity: 1;
}

button{
    border: 0px;
    background-color: #FFFFFF;
}

.strong {
    font-weight: bolder;
    margin-right: 7px;
}

.strong2 {
    font-weight: bolder;
    margin-left: 7px;
}

.hora {
    color: #AAAAAA;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    margin-right: 7px;
    margin-left: 8px;

}



/* --- Tipos de Mensagens --- */

.status {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    background-color: #DCDCDC;
    width: 100%;
    height: 40px;
    margin-bottom: 4px;
    word-wrap: break-word;
}

.private_message {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    background-color: #FFDEDE;
    width: 100%;
    height: 40px;
    margin-bottom: 4px;
    word-wrap: break-word;
}

.message {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
    height: 40px;
    margin-bottom: 4px;
    word-wrap: break-word;
}

/* --- Esconder --- */

.escondido {
    display: none;
}